In [8]:
# Import libraries
import glob
import pandas as pd
import re

In [26]:
path = "../data/tweet_iteracoes/"
match = r'/tweet_iteracoes/(\d+)_\d{4}-\d{2}-\d{2}'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file).assign(post_id=re.search(r'/tweet_iteracoes/(\d+)_\d{4}-\d{2}-\d{2}', file).group(1)) for file in csv_files)

# Concatenate all DataFrames
df_tweets   = pd.concat(df_list, ignore_index=True)

In [27]:
df_tweets

,full_text,created_at,id,post_id
0,@LoiraNoob Maravilhosas ❤️\nQuando eu tive jun...,2023-04-09 15:56:19+00:00,1645093289551331332,1643361688639471617
1,"@BRKsEDU Vi assim q saiu, excelente vídeo edu,...",2023-04-07 19:30:27+00:00,1644422403693375506,1644096545598455812
2,@BRKsEDU Curtindo muito esses seus vídeos dos ...,2023-04-07 01:38:58+00:00,1644152755777417217,1644096545598455812
3,@BRKsEDU Edu no dia 04/04 fui vítima de um gol...,2023-04-06 22:30:07+00:00,1644105231456673795,1644096545598455812
4,"@BRKsEDU Compra pra mim,eu sou pobre e a taxa ...",2023-04-06 22:21:01+00:00,1644102941941309441,1644096545598455812
...,...,...,...,...
283,@LoiraNoob Au au kkkkkkkkk boraaaaa,2023-04-17 21:43:54+00:00,1648079864560250882,1648079298518036481
284,@LoiraNoob Au auuuu,2023-04-17 21:43:48+00:00,1648079842296864768,1648079298518036481
285,@LoiraNoob MEU DEEEEUS,2023-04-17 21:43:48+00:00,1648079841122480132,1648079298518036481
286,"@LoiraNoob Au au, pra vc tb",2023-04-17 21:43:47+00:00,1648079837599236097,1648079298518036481
287,"@LoiraNoob ""de dinheirow money eu nao preciso""",2023-04-17 21:42:50+00:00,1648079595864727553,1648079298518036481

In [17]:
str(file)

'../data/tweet_iteracoes/1648079298518036481_2023-04-25_39928fe6-a122-4fd7-9da4-0b23ebc9389e.csv'

In [19]:
re.search(match, str(file))

In [21]:
import re

string = '../data/tweet_iteracoes/1648079298518036481_2023-04-25_39928fe6-a122-4fd7-9da4-0b23ebc9389e.csv'

match = re.search(r'/tweet_iteracoes/(\d+)_\d{4}-\d{2}-\d{2}', file)

if match:
    id = match.group(1)
    print(id)
else:
    print("ID não encontrado na string.")

1648079298518036481