In [3]:
# Import libraries
import glob
import pandas as pd

In [4]:
path = "../data/influencer_data/"

csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
df   = pd.concat(df_list, ignore_index=True)

In [5]:
df.shape

(10, 6)

In [6]:
df.head()

,Unnamed: 0,uuid,data_ref,userID,seguidores,twwets
0,0,7e4be8f4-0138-4d96-8bc8-db671afcb3c5,2023-04-15,Loiranoob,1755512,106251
1,0,e3470947-88ec-4ed1-82c7-eab568d6dd17,2023-04-15,Cellbit,5976409,3857
2,0,d231ecfd-bd44-48c9-a5af-5e3f45e75c5f,2023-04-15,BRKsEDU,1616225,761
3,0,d0a36dd6-0335-4213-8090-0e37ce1b9d53,2023-04-15,Loiranoob,1755518,106251
4,0,5bcc5680-2249-4557-865f-169e00c8c6e0,2023-04-15,Cellbit,5976398,3857