# 1. Importando bibliotecas

In [1]:
import pandas as pd
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import glob
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer, WordNetLemmatizer
from nltk.stem import RSLPStemmer
from nltk.collocations import BigramAssocMeasures, BigramCollocationFinder, TrigramAssocMeasures, TrigramCollocationFinder

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('rslp')

[nltk_data] Downloading package punkt to /Users/andre/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/andre/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package rslp to /Users/andre/nltk_data...
[nltk_data]   Package rslp is already up-to-date!

True

# 2. Lendo dados

In [18]:
path = "../data/tweet_iteracoes/"

csv_files = glob.glob(path + "/*.csv")

math_patter = r'/tweet_iteracoes/(\d+)_\d{4}-\d{2}-\d{2}'

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file).assign(post_id=re.search(math_patter, file).group(1)) for file in csv_files)

# Concatenate all DataFrames
df_tweets_iteractions   = pd.concat(df_list, ignore_index=True)
df_tweets_iteractions['post_id']=df_tweets_iteractions['post_id'].astype(int)

In [19]:
df_tweets_iteractions.shape

(288, 4)

In [20]:
df_tweets_iteractions.head()

,full_text,created_at,id,post_id
0,@LoiraNoob Maravilhosas ‚ù§Ô∏è\nQuando eu tive jun...,2023-04-09 15:56:19+00:00,1645093289551331332,1643361688639471617
1,"@BRKsEDU Vi assim q saiu, excelente v√≠deo edu,...",2023-04-07 19:30:27+00:00,1644422403693375506,1644096545598455812
2,@BRKsEDU Curtindo muito esses seus v√≠deos dos ...,2023-04-07 01:38:58+00:00,1644152755777417217,1644096545598455812
3,@BRKsEDU Edu no dia 04/04 fui v√≠tima de um gol...,2023-04-06 22:30:07+00:00,1644105231456673795,1644096545598455812
4,"@BRKsEDU Compra pra mim,eu sou pobre e a taxa ...",2023-04-06 22:21:01+00:00,1644102941941309441,1644096545598455812

In [21]:
path = "../data/influencer_tweets/"

csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
df_influencer_tweets   = pd.concat(df_list, ignore_index=True).drop_duplicates().drop_duplicates(subset=['id'])
df_influencer_tweets['post_id'] = df_influencer_tweets['id']

In [22]:
df_tweets_iteractions.dtypes

full_text     object
created_at    object
id             int64
post_id        int64
dtype: object

In [23]:
df = df_tweets_iteractions.merge(df_influencer_tweets, on=['post_id'], how='left')

In [25]:
df.shape[0]==df_tweets_iteractions.shape[0]
# verifica se o left esta ok

True

In [26]:
df.tail()

,full_text_x,created_at_x,id_x,post_id,id_y,userID,created_at_y,full_text_y,favorite_count,retweet_count
283,@LoiraNoob Au au kkkkkkkkk boraaaaa,2023-04-17 21:43:54+00:00,1648079864560250882,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
284,@LoiraNoob Au auuuu,2023-04-17 21:43:48+00:00,1648079842296864768,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
285,@LoiraNoob MEU DEEEEUS,2023-04-17 21:43:48+00:00,1648079841122480132,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
286,"@LoiraNoob Au au, pra vc tb",2023-04-17 21:43:47+00:00,1648079837599236097,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
287,"@LoiraNoob ""de dinheirow money eu nao preciso""",2023-04-17 21:42:50+00:00,1648079595864727553,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28

In [30]:
df

,full_text_x,created_at_x,id_x,post_id,id_y,userID,created_at_y,full_text_y,favorite_count,retweet_count
0,@LoiraNoob Maravilhosas ‚ù§Ô∏è\nQuando eu tive jun...,2023-04-09 15:56:19+00:00,1645093289551331332,1643361688639471617,1643361688639471617,Loiranoob,2023-04-04 21:15:33+00:00,Respeita esse casalz√£o üíú https://t.co/0BETM5Gj65,5717,81
1,"@BRKsEDU Vi assim q saiu, excelente v√≠deo edu,...",2023-04-07 19:30:27+00:00,1644422403693375506,1644096545598455812,1644096545598455812,BRKsEDU,2023-04-06 21:55:36+00:00,V√≠deo novo no canal... Nintendo 3DS como voc√™ ...,208,3
2,@BRKsEDU Curtindo muito esses seus v√≠deos dos ...,2023-04-07 01:38:58+00:00,1644152755777417217,1644096545598455812,1644096545598455812,BRKsEDU,2023-04-06 21:55:36+00:00,V√≠deo novo no canal... Nintendo 3DS como voc√™ ...,208,3
3,@BRKsEDU Edu no dia 04/04 fui v√≠tima de um gol...,2023-04-06 22:30:07+00:00,1644105231456673795,1644096545598455812,1644096545598455812,BRKsEDU,2023-04-06 21:55:36+00:00,V√≠deo novo no canal... Nintendo 3DS como voc√™ ...,208,3
4,"@BRKsEDU Compra pra mim,eu sou pobre e a taxa ...",2023-04-06 22:21:01+00:00,1644102941941309441,1644096545598455812,1644096545598455812,BRKsEDU,2023-04-06 21:55:36+00:00,V√≠deo novo no canal... Nintendo 3DS como voc√™ ...,208,3
...,...,...,...,...,...,...,...,...,...,...
283,@LoiraNoob Au au kkkkkkkkk boraaaaa,2023-04-17 21:43:54+00:00,1648079864560250882,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
284,@LoiraNoob Au auuuu,2023-04-17 21:43:48+00:00,1648079842296864768,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
285,@LoiraNoob MEU DEEEEUS,2023-04-17 21:43:48+00:00,1648079841122480132,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
286,"@LoiraNoob Au au, pra vc tb",2023-04-17 21:43:47+00:00,1648079837599236097,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28
287,"@LoiraNoob ""de dinheirow money eu nao preciso""",2023-04-17 21:42:50+00:00,1648079595864727553,1648079298518036481,1648079298518036481,Loiranoob,2023-04-17 21:41:39+00:00,VOC√äS QUEREM? ENT√ÉO TOMEM! https://t.co/ev8zxw...,1069,28